/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/

// .bouton {
//   background-color: $vertLime;
//   border-radius: 18px;
//   color: black;
//   padding: 0.5em 1em;
//   text-decoration: none;
//   &:after {
//     content: "»";
//     margin-left: 0.4em;
//   }
//   &--hover {
//     background-color: transparentize($vertLime, 0.25);
//   }
//   &--active {
//     background-color: transparentize($vertLime, 0.5);
//   }
//   &--inverse {
//     background-color: white;
//     border: 2px solid $vertLime;
//     &--hover {
//       border-color: transparentize($vertLime, 0.25);
//     }
//     &--active {
//       border-color: transparentize($vertLime, 0.5);
//     }
//   }
// }

//BOUTON SUIVANT
.boutonsuivant {
    color: black;
    background-color: $bleuFonce;
    padding: 12px 12px;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    font-weight:bolder;
    line-height: 1.14286;
    text-decoration: none;
    border: 2px solid $bleuFonce;
}

.boutonsuivant:hover {
    border: 2px solid black;
    text-decoration: underline;
}
.div_boutonsuivant {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.retour {
    color: black;
    background-color: transparent;
    border:none;
    font-size: 1.8rem;
    height: 2.5rem;
}
.retour:hover {
    text-decoration:underline;
}

.bouton_navig {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding-top: 3rem;
    @media(min-width: 600px) {
        input {
            margin:0 4.8rem;
        }
    }
}