.main {
    padding: 0px 20px;
    // float: left;
    @media(min-width: 600px) {
        padding: 0px 20%;
    }
}

.header {
    background-color: #64B6AC;
    padding: 30px 20px;
    .titre{
        margin:0;
    }
}

h1 {
    margin-top: 5rem;
}

fieldset {
    border:none;
    @media(min-width: 600px){
        border-left: 3px solid #F36421;
        border-right: none;
        border-top:none;
        border-bottom: none;
    }
}

.section__info {
    display: none;
}
.section__paiement {
    display: none;
}


.erreur {
    color:$rougeErreur;
    width: 200px;
}
.erreur__input {
    border-color: $rougeErreur !important;
}

.hidden {
    display: none;
}


//Step-left

#stepleft {
	margin: 4rem 0;
	overflow: hidden;
	counter-reset: step;
    padding:0;
}
#stepleft li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 1.4rem;
	width: 33.33%;
	float: left;
	position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#stepleft li:before {
	content: counter(step);
	counter-increment: step;
	width: 25px;
	line-height: 25px;
	display: block;
	font-size: 12px;
	color: white;
	border: 2px solid $bleuFonce;
    background-color: black;
	border-radius: 20px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#stepleft li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: black;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1;
}
#stepleft li:first-child:after {
	content: none; 
}

#stepleft li.active:before,  #stepleft li.active:after{
	background: $bleuFonce;
	color: black;
}




// TYPE DE DON ET MONTANT

.formulaire__typedon {
    display: flex;
    flex-direction: column;
    align-items: center;
}


// BOUTON RADIO TYPE DE DON
.div__typedon {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
.div__typedon input {
    position: absolute !important;
    clip:rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 3px;
    overflow: hidden;
}

.div__typedon label {
    background-color: white;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    padding: 17px 10px 15px;
    border: 3px solid black;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    margin: 0 0.5rem;
}


.div__typedon label:hover {
    cursor: pointer;
    text-decoration: underline;
    border: 3px solid $bleuFonce;
}


.div__typedon input{
    font-size: 18px;
    line-height: 1;
    text-align: center;
    transition: all 0.1s ease-in-out;
    overflow: hidden;

}

.div__typedon input:checked + label{
    border: 3px solid $bleuFonce;
    
}

// BOUTON DU MONTANT

.div__listedon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    overflow: hidden;
}
.div__listedon input {
    position: absolute !important;
    clip:rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 3px;
    overflow: hidden;
}

.div__listedon label {
    background-color: white;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    padding: 13px 6px 10px;
    margin: 0 5px 1rem;
    border: 3px solid black;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.div__listedon label:hover {
    cursor: pointer;
    border: 3px solid $bleuFonce;
    text-decoration: underline;
}

.div__listedon input{
    font-size: 18px;
    line-height: 1;
    text-align: center;
    overflow: hidden;
}

.div__listedon input:checked + label{
    border: 3px solid $bleuFonce;
}





//VOS INFORMATIONS

.formulaire__informations {
    @media(min-width: 600px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.don_autre_nom input {
   margin-right: 1rem;
}
.organisation {
    display: flex;
    padding-top: 1.5rem;
}
.memoire {
    display: flex;
    padding-bottom: 4.5rem;
}

.informations {
    display: flex;
    flex-direction: column;
    
    input {
        border: 2px solid black;
        border-radius: 6px;
        height: 2.5rem;
    }
}



.prenom, .nom, .ville, .titulaire {
display: flex;
flex-direction: column;
margin-bottom: 4.5rem;
    input {
        width: 185px;
    }
    @media(min-width: 600px){
        input {
        width:220px;
        height: 3rem;
        }
        margin-bottom: 5.5rem;
    }
}

.adresse, .courriel {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
    input {
        width: 280px;
    }
    @media(min-width: 600px){
        input {
        width:320px;
        height: 3rem;
        }
        margin-bottom: 5.5rem;
        
    }
}

.codepostal {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
    input {
        width: 100px;
    }
    .div_exemple {
        display:flex;
        flex-direction: column;
    }
    @media(min-width: 600px){
        input {
        width:150px;
        height: 3rem;
        }
        margin-bottom: 5.5rem;
    }
}


.pays, .provinces {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4.5rem;
    select {
        border: 2px solid black;
        border-radius: 6px;
        height: 3rem;
    }
    @media(min-width: 600px){
        margin-bottom: 5.5rem;
        select{
            height: 3.5rem;
    }
}
}

.telephone {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
    input {
        width: 220px;
    }
    .div_exemple {
        display:flex;
        flex-direction: column;
    }
    @media(min-width: 600px){
        input {
        width:250px;
        height: 3rem;
        }
        margin-bottom: 5.5rem;
    }
}

.poste {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
    input {
        width: 100px;
    }
    @media(min-width: 600px){
        input {
        height: 3rem;
        }
        margin-bottom: 5.5rem;
    }
}

.checkbox {
    @media(min-width: 600px) {
        width: 52%;
    }
}



//PAIEMENT

.formulaire__paiement {
    @media(min-width: 600px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


//CARTE DE CRÉDIT - PAYPAL
.div__typepaiement {
    display: flex;
    margin: 3rem 0;
    justify-content: center;
}
.div__typepaiement input {
    position: absolute !important;
    clip:rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 3px;
    overflow: hidden;
}

.div__typepaiement label {
    background-color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px 10px 10px;
    border: 3px solid black;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    margin: 0 0.5rem;
}


.div__typepaiement label:hover {
    cursor: pointer;
    text-decoration: underline;
    border: 3px solid $bleuFonce;
}


.div__typepaiement input{
    font-size: 18px;
    line-height: 1;
    text-align: center;
    transition: all 0.1s ease-in-out;
    overflow: hidden;

}

.div__typepaiement input:checked + label{
    border: 3px solid $bleuFonce;
    
}

//IMG DES CARTES ACCPETÉS
.carteaccepte{
    padding-top: 2rem;
}
.carte_visa {
    max-width: 5rem;
}
.carte_mastercard{
    max-width: 5.5rem;
}
.carte_american {
    max-width: 4rem;
}
.apple_pay{
    max-width: 5.5rem;
}

.infocarte {
    display: flex;
    flex-direction: column;
    input {
        border: 2px solid black;
        border-radius: 6px;
        height: 2.5rem;
        @media(min-width: 600px){
            height: 3rem;       
        }
    }
}

.titulaire {
    margin-top: 3rem;
    margin-bottom: 4.5rem;
    @media(min-width: 600px){
        margin-bottom: 5.5rem;
    }
}

.numcarte {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
    input {
        width: 250px;
    }
    @media(min-width: 600px){
        margin-bottom: 5.5rem;
    }
}

.expiration {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 4.5rem;
    .annee{
        margin-left: 2rem;
    }
}

.mois, .annee {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    select {
        border: 2px solid black;
        border-radius: 6px;
        height: 3rem;
    }
}

.cvv input {
    width: 100px;
}

.footer {
    background-color: $bleuFonce;
    text-align: center;
    margin: 0px;
    margin-top: 3rem;
    padding: 3rem 0;

}